
@model List<ElectionApp.Models.Candidate>
@{
	ViewData["Title"] = "Candidates";
}
<h1>Candidates</h1>
<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Id</th>
			<th>Name</th>
			<th>Party</th>
			<th>Deputy</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var c in Model)
		{
			<tr>
				<th></th>
				<th>@c.Id</th>
				<th>@c.Name</th>
				<th>@c.Party</th>
				<th>@c.Deputy</th>
				<th><a href="@Url.Action("CandidateInfoView", "Candidates", new { id = c.Id })">Details</a></th>
			</tr>
		}
	</tbody>
</table>